{
"acl_datacenter":"dc1",
"acl_master_token":"9abbcdd9-f410-4432-962f-1d4f4162068d",
"bootstrap_expect":1,
"bind_addr":"{{ addr }}",
"client_addr":"{{ addr }}",
"data_dir":"/opt/consul",
"datacenter":"dc1",
"encrypt":"twAZrmm4F801C+6tC7Funw==",
"log_level":"INFO",
"node_name":"salt-master",
"server":true,
"ui_dir":"/opt/consul/dist"
}
